proyecto1s22015_201212840/src/java/META-INF/administradorBuses.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicio/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicio/" name="administradorBuses" xmlns:fi="http://java.sun.com/xml/ns/wsit/2006/09/policy/encoding/client" xmlns:tcp="http://java.sun.com/xml/ns/wsit/2006/09/policy/transport/client">
<types>
<xsd:schema>
<xsd:import namespace="http://servicio/" schemaLocation="http://192.168.0.116:8080/Servidor/administradorBuses?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="graficarListaBuses">
<part name="parameters" element="tns:graficarListaBuses"/>
</message>
<message name="graficarListaBusesResponse">
<part name="parameters" element="tns:graficarListaBusesResponse"/>
</message>
<message name="insertarId">
<part name="parameters" element="tns:insertarId"/>
</message>
<message name="insertarIdResponse">
<part name="parameters" element="tns:insertarIdResponse"/>
</message>
<message name="encontrar">
<part name="parameters" element="tns:encontrar"/>
</message>
<message name="encontrarResponse">
<part name="parameters" element="tns:encontrarResponse"/>
</message>
<message name="eliminarBus">
<part name="parameters" element="tns:eliminarBus"/>
</message>
<message name="eliminarBusResponse">
<part name="parameters" element="tns:eliminarBusResponse"/>
</message>
<message name="actualizar">
<part name="parameters" element="tns:actualizar"/>
</message>
<message name="actualizarResponse">
<part name="parameters" element="tns:actualizarResponse"/>
</message>
<message name="obtenerDatos">
<part name="parameters" element="tns:obtenerDatos"/>
</message>
<message name="obtenerDatosResponse">
<part name="parameters" element="tns:obtenerDatosResponse"/>
</message>
<portType name="administradorBuses">
<operation name="hello">
<input wsam:Action="http://servicio/administradorBuses/helloRequest" message="tns:hello"/>
<output wsam:Action="http://servicio/administradorBuses/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="graficarListaBuses">
<input wsam:Action="http://servicio/administradorBuses/graficarListaBusesRequest" message="tns:graficarListaBuses"/>
<output wsam:Action="http://servicio/administradorBuses/graficarListaBusesResponse" message="tns:graficarListaBusesResponse"/>
</operation>
<operation name="insertarId">
<input wsam:Action="http://servicio/administradorBuses/insertarIdRequest" message="tns:insertarId"/>
<output wsam:Action="http://servicio/administradorBuses/insertarIdResponse" message="tns:insertarIdResponse"/>
</operation>
<operation name="encontrar">
<input wsam:Action="http://servicio/administradorBuses/encontrarRequest" message="tns:encontrar"/>
<output wsam:Action="http://servicio/administradorBuses/encontrarResponse" message="tns:encontrarResponse"/>
</operation>
<operation name="eliminarBus">
<input wsam:Action="http://servicio/administradorBuses/eliminarBusRequest" message="tns:eliminarBus"/>
<output wsam:Action="http://servicio/administradorBuses/eliminarBusResponse" message="tns:eliminarBusResponse"/>
</operation>
<operation name="actualizar">
<input wsam:Action="http://servicio/administradorBuses/actualizarRequest" message="tns:actualizar"/>
<output wsam:Action="http://servicio/administradorBuses/actualizarResponse" message="tns:actualizarResponse"/>
</operation>
<operation name="obtenerDatos">
<input wsam:Action="http://servicio/administradorBuses/obtenerDatosRequest" message="tns:obtenerDatos"/>
<output wsam:Action="http://servicio/administradorBuses/obtenerDatosResponse" message="tns:obtenerDatosResponse"/>
</operation>
</portType>
<binding name="administradorBusesPortBinding" type="tns:administradorBuses">
    <wsp:PolicyReference URI="#administradorBusesPortBindingPolicy"/>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="graficarListaBuses">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertarId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="encontrar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarBus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerDatos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="administradorBuses">
<port name="administradorBusesPort" binding="tns:administradorBusesPortBinding">
<soap:address location="http://192.168.0.116:8080/Servidor/administradorBuses"/>
</port>
</service>
    <wsp:Policy wsu:Id="administradorBusesPortBindingPolicy">
        <wsp:ExactlyOne>
            <wsp:All>
                <fi:AutomaticallySelectOptimalEncoding/>
                <tcp:AutomaticallySelectOptimalTransport/>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
</definitions>