proyecto1s22015_201212840/src/conf/xml-resources/web-service-references/asignacionBuses/wsdl/192.168.0.116_8080/Servidor/asignacionBuses.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicio/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicio/" name="asignacionBuses">
<types>
<xsd:schema>
<xsd:import namespace="http://servicio/" schemaLocation="http://192.168.0.116:8080/Servidor/asignacionBuses?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="eliminarAsignacionBus">
<part name="parameters" element="tns:eliminarAsignacionBus"/>
</message>
<message name="eliminarAsignacionBusResponse">
<part name="parameters" element="tns:eliminarAsignacionBusResponse"/>
</message>
<message name="actualizarAsignacionBus">
<part name="parameters" element="tns:actualizarAsignacionBus"/>
</message>
<message name="actualizarAsignacionBusResponse">
<part name="parameters" element="tns:actualizarAsignacionBusResponse"/>
</message>
<message name="graficarAsignacionBus">
<part name="parameters" element="tns:graficarAsignacionBus"/>
</message>
<message name="graficarAsignacionBusResponse">
<part name="parameters" element="tns:graficarAsignacionBusResponse"/>
</message>
<message name="insertarBus">
<part name="parameters" element="tns:insertarBus"/>
</message>
<message name="insertarBusResponse">
<part name="parameters" element="tns:insertarBusResponse"/>
</message>
<message name="datosAsignacinoBusHorario">
<part name="parameters" element="tns:datosAsignacinoBusHorario"/>
</message>
<message name="datosAsignacinoBusHorarioResponse">
<part name="parameters" element="tns:datosAsignacinoBusHorarioResponse"/>
</message>
<message name="datosAsignacionChoferBus">
<part name="parameters" element="tns:datosAsignacionChoferBus"/>
</message>
<message name="datosAsignacionChoferBusResponse">
<part name="parameters" element="tns:datosAsignacionChoferBusResponse"/>
</message>
<message name="datosAsignacionChoferHorario">
<part name="parameters" element="tns:datosAsignacionChoferHorario"/>
</message>
<message name="datosAsignacionChoferHorarioResponse">
<part name="parameters" element="tns:datosAsignacionChoferHorarioResponse"/>
</message>
<portType name="asignacionBuses">
<operation name="hello">
<input wsam:Action="http://servicio/asignacionBuses/helloRequest" message="tns:hello"/>
<output wsam:Action="http://servicio/asignacionBuses/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="eliminarAsignacionBus">
<input wsam:Action="http://servicio/asignacionBuses/eliminarAsignacionBusRequest" message="tns:eliminarAsignacionBus"/>
<output wsam:Action="http://servicio/asignacionBuses/eliminarAsignacionBusResponse" message="tns:eliminarAsignacionBusResponse"/>
</operation>
<operation name="actualizarAsignacionBus">
<input wsam:Action="http://servicio/asignacionBuses/actualizarAsignacionBusRequest" message="tns:actualizarAsignacionBus"/>
<output wsam:Action="http://servicio/asignacionBuses/actualizarAsignacionBusResponse" message="tns:actualizarAsignacionBusResponse"/>
</operation>
<operation name="graficarAsignacionBus">
<input wsam:Action="http://servicio/asignacionBuses/graficarAsignacionBusRequest" message="tns:graficarAsignacionBus"/>
<output wsam:Action="http://servicio/asignacionBuses/graficarAsignacionBusResponse" message="tns:graficarAsignacionBusResponse"/>
</operation>
<operation name="insertarBus">
<input wsam:Action="http://servicio/asignacionBuses/insertarBusRequest" message="tns:insertarBus"/>
<output wsam:Action="http://servicio/asignacionBuses/insertarBusResponse" message="tns:insertarBusResponse"/>
</operation>
<operation name="datosAsignacinoBusHorario">
<input wsam:Action="http://servicio/asignacionBuses/datosAsignacinoBusHorarioRequest" message="tns:datosAsignacinoBusHorario"/>
<output wsam:Action="http://servicio/asignacionBuses/datosAsignacinoBusHorarioResponse" message="tns:datosAsignacinoBusHorarioResponse"/>
</operation>
<operation name="datosAsignacionChoferBus">
<input wsam:Action="http://servicio/asignacionBuses/datosAsignacionChoferBusRequest" message="tns:datosAsignacionChoferBus"/>
<output wsam:Action="http://servicio/asignacionBuses/datosAsignacionChoferBusResponse" message="tns:datosAsignacionChoferBusResponse"/>
</operation>
<operation name="datosAsignacionChoferHorario">
<input wsam:Action="http://servicio/asignacionBuses/datosAsignacionChoferHorarioRequest" message="tns:datosAsignacionChoferHorario"/>
<output wsam:Action="http://servicio/asignacionBuses/datosAsignacionChoferHorarioResponse" message="tns:datosAsignacionChoferHorarioResponse"/>
</operation>
</portType>
<binding name="asignacionBusesPortBinding" type="tns:asignacionBuses">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarAsignacionBus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizarAsignacionBus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="graficarAsignacionBus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertarBus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="datosAsignacinoBusHorario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="datosAsignacionChoferBus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="datosAsignacionChoferHorario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="asignacionBuses">
<port name="asignacionBusesPort" binding="tns:asignacionBusesPortBinding">
<soap:address location="http://192.168.0.116:8080/Servidor/asignacionBuses"/>
</port>
</service>
</definitions>