proyecto1s22015_201212840/src/conf/xml-resources/web-service-references/asignacionBuses/wsdl/192.168.0.116_8080/Servidor/asignacionBuses.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://servicio/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://servicio/">

<xs:element name="actualizarAsignacionBus" type="tns:actualizarAsignacionBus"/>

<xs:element name="actualizarAsignacionBusResponse" type="tns:actualizarAsignacionBusResponse"/>

<xs:element name="datosAsignacinoBusHorario" type="tns:datosAsignacinoBusHorario"/>

<xs:element name="datosAsignacinoBusHorarioResponse" type="tns:datosAsignacinoBusHorarioResponse"/>

<xs:element name="datosAsignacionChoferBus" type="tns:datosAsignacionChoferBus"/>

<xs:element name="datosAsignacionChoferBusResponse" type="tns:datosAsignacionChoferBusResponse"/>

<xs:element name="datosAsignacionChoferHorario" type="tns:datosAsignacionChoferHorario"/>

<xs:element name="datosAsignacionChoferHorarioResponse" type="tns:datosAsignacionChoferHorarioResponse"/>

<xs:element name="eliminarAsignacionBus" type="tns:eliminarAsignacionBus"/>

<xs:element name="eliminarAsignacionBusResponse" type="tns:eliminarAsignacionBusResponse"/>

<xs:element name="graficarAsignacionBus" type="tns:graficarAsignacionBus"/>

<xs:element name="graficarAsignacionBusResponse" type="tns:graficarAsignacionBusResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="insertarBus" type="tns:insertarBus"/>

<xs:element name="insertarBusResponse" type="tns:insertarBusResponse"/>

<xs:complexType name="actualizarAsignacionBus">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
<xs:element name="arg3" type="xs:string" minOccurs="0"/>
<xs:element name="arg4" type="xs:string" minOccurs="0"/>
<xs:element name="arg5" type="xs:string" minOccurs="0"/>
<xs:element name="arg6" type="xs:string" minOccurs="0"/>
<xs:element name="arg7" type="xs:string" minOccurs="0"/>
<xs:element name="arg8" type="xs:string" minOccurs="0"/>
<xs:element name="arg9" type="xs:string" minOccurs="0"/>
<xs:element name="arg10" type="xs:string" minOccurs="0"/>
<xs:element name="arg11" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizarAsignacionBusResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="graficarAsignacionBus">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="graficarAsignacionBusResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="datosAsignacionChoferHorario">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="datosAsignacionChoferHorarioResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarAsignacionBus">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
<xs:element name="arg3" type="xs:string" minOccurs="0"/>
<xs:element name="arg4" type="xs:string" minOccurs="0"/>
<xs:element name="arg5" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarAsignacionBusResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="datosAsignacinoBusHorario">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="datosAsignacinoBusHorarioResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="datosAsignacionChoferBus">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="datosAsignacionChoferBusResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarBus">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
<xs:element name="arg3" type="xs:string" minOccurs="0"/>
<xs:element name="arg4" type="xs:string" minOccurs="0"/>
<xs:element name="arg5" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarBusResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>