proyecto1s22015_201212840/src/conf/xml-resources/web-service-references/administrarRutas/wsdl/192.168.0.116_8080/Servidor/administrarRutas.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicio/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicio/" name="administrarRutas">
<types>
<xsd:schema>
<xsd:import namespace="http://servicio/" schemaLocation="http://192.168.0.116:8080/Servidor/administrarRutas?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="insertarRuta">
<part name="parameters" element="tns:insertarRuta"/>
</message>
<message name="insertarRutaResponse">
<part name="parameters" element="tns:insertarRutaResponse"/>
</message>
<message name="eliminarRuta">
<part name="parameters" element="tns:eliminarRuta"/>
</message>
<message name="eliminarRutaResponse">
<part name="parameters" element="tns:eliminarRutaResponse"/>
</message>
<message name="buscarRuta">
<part name="parameters" element="tns:buscarRuta"/>
</message>
<message name="buscarRutaResponse">
<part name="parameters" element="tns:buscarRutaResponse"/>
</message>
<portType name="administrarRutas">
<operation name="hello">
<input wsam:Action="http://servicio/administrarRutas/helloRequest" message="tns:hello"/>
<output wsam:Action="http://servicio/administrarRutas/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="insertarRuta">
<input wsam:Action="http://servicio/administrarRutas/insertarRutaRequest" message="tns:insertarRuta"/>
<output wsam:Action="http://servicio/administrarRutas/insertarRutaResponse" message="tns:insertarRutaResponse"/>
</operation>
<operation name="eliminarRuta">
<input wsam:Action="http://servicio/administrarRutas/eliminarRutaRequest" message="tns:eliminarRuta"/>
<output wsam:Action="http://servicio/administrarRutas/eliminarRutaResponse" message="tns:eliminarRutaResponse"/>
</operation>
<operation name="buscarRuta">
<input wsam:Action="http://servicio/administrarRutas/buscarRutaRequest" message="tns:buscarRuta"/>
<output wsam:Action="http://servicio/administrarRutas/buscarRutaResponse" message="tns:buscarRutaResponse"/>
</operation>
</portType>
<binding name="administrarRutasPortBinding" type="tns:administrarRutas">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertarRuta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarRuta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarRuta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="administrarRutas">
<port name="administrarRutasPort" binding="tns:administrarRutasPortBinding">
<soap:address location="http://192.168.0.116:8080/Servidor/administrarRutas"/>
</port>
</service>
</definitions>