proyecto1s22015_201212840/src/conf/xml-resources/web-service-references/administrarChofer/wsdl/192.168.0.116_8080/Servidor/administrarChofer.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicio/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicio/" name="administrarChofer">
<types>
<xsd:schema>
<xsd:import namespace="http://servicio/" schemaLocation="http://192.168.0.116:8080/Servidor/administrarChofer?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="agregarBusaChofer">
<part name="parameters" element="tns:agregarBusaChofer"/>
</message>
<message name="agregarBusaChoferResponse">
<part name="parameters" element="tns:agregarBusaChoferResponse"/>
</message>
<message name="insertarChofer">
<part name="parameters" element="tns:insertarChofer"/>
</message>
<message name="insertarChoferResponse">
<part name="parameters" element="tns:insertarChoferResponse"/>
</message>
<message name="graficarChofer">
<part name="parameters" element="tns:graficarChofer"/>
</message>
<message name="graficarChoferResponse">
<part name="parameters" element="tns:graficarChoferResponse"/>
</message>
<message name="actualizarChofer">
<part name="parameters" element="tns:actualizarChofer"/>
</message>
<message name="actualizarChoferResponse">
<part name="parameters" element="tns:actualizarChoferResponse"/>
</message>
<message name="loginChofer">
<part name="parameters" element="tns:loginChofer"/>
</message>
<message name="loginChoferResponse">
<part name="parameters" element="tns:loginChoferResponse"/>
</message>
<message name="graficarAVLChofer">
<part name="parameters" element="tns:graficarAVLChofer"/>
</message>
<message name="graficarAVLChoferResponse">
<part name="parameters" element="tns:graficarAVLChoferResponse"/>
</message>
<portType name="administrarChofer">
<operation name="hello">
<input wsam:Action="http://servicio/administrarChofer/helloRequest" message="tns:hello"/>
<output wsam:Action="http://servicio/administrarChofer/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="agregarBusaChofer">
<input wsam:Action="http://servicio/administrarChofer/agregarBusaChoferRequest" message="tns:agregarBusaChofer"/>
<output wsam:Action="http://servicio/administrarChofer/agregarBusaChoferResponse" message="tns:agregarBusaChoferResponse"/>
</operation>
<operation name="insertarChofer">
<input wsam:Action="http://servicio/administrarChofer/insertarChoferRequest" message="tns:insertarChofer"/>
<output wsam:Action="http://servicio/administrarChofer/insertarChoferResponse" message="tns:insertarChoferResponse"/>
</operation>
<operation name="graficarChofer">
<input wsam:Action="http://servicio/administrarChofer/graficarChoferRequest" message="tns:graficarChofer"/>
<output wsam:Action="http://servicio/administrarChofer/graficarChoferResponse" message="tns:graficarChoferResponse"/>
</operation>
<operation name="actualizarChofer">
<input wsam:Action="http://servicio/administrarChofer/actualizarChoferRequest" message="tns:actualizarChofer"/>
<output wsam:Action="http://servicio/administrarChofer/actualizarChoferResponse" message="tns:actualizarChoferResponse"/>
</operation>
<operation name="loginChofer">
<input wsam:Action="http://servicio/administrarChofer/loginChoferRequest" message="tns:loginChofer"/>
<output wsam:Action="http://servicio/administrarChofer/loginChoferResponse" message="tns:loginChoferResponse"/>
</operation>
<operation name="graficarAVLChofer">
<input wsam:Action="http://servicio/administrarChofer/graficarAVLChoferRequest" message="tns:graficarAVLChofer"/>
<output wsam:Action="http://servicio/administrarChofer/graficarAVLChoferResponse" message="tns:graficarAVLChoferResponse"/>
</operation>
</portType>
<binding name="administrarChoferPortBinding" type="tns:administrarChofer">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="agregarBusaChofer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertarChofer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="graficarChofer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizarChofer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="loginChofer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="graficarAVLChofer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="administrarChofer">
<port name="administrarChoferPort" binding="tns:administrarChoferPortBinding">
<soap:address location="http://192.168.0.116:8080/Servidor/administrarChofer"/>
</port>
</service>
</definitions>