proyecto1s22015_201212840/web/WEB-INF/wsdl/192.168.0.116_8080/Servidor/administrarEstacionClave.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicio/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicio/" name="administrarEstacionClave">
<types>
<xsd:schema>
<xsd:import namespace="http://servicio/" schemaLocation="http://192.168.0.116:8080/Servidor/administrarEstacionClave?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="graficarEstacionClave">
<part name="parameters" element="tns:graficarEstacionClave"/>
</message>
<message name="graficarEstacionClaveResponse">
<part name="parameters" element="tns:graficarEstacionClaveResponse"/>
</message>
<message name="insertarEstacionClave">
<part name="parameters" element="tns:insertarEstacionClave"/>
</message>
<message name="insertarEstacionClaveResponse">
<part name="parameters" element="tns:insertarEstacionClaveResponse"/>
</message>
<portType name="administrarEstacionClave">
<operation name="hello">
<input wsam:Action="http://servicio/administrarEstacionClave/helloRequest" message="tns:hello"/>
<output wsam:Action="http://servicio/administrarEstacionClave/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="graficarEstacionClave">
<input wsam:Action="http://servicio/administrarEstacionClave/graficarEstacionClaveRequest" message="tns:graficarEstacionClave"/>
<output wsam:Action="http://servicio/administrarEstacionClave/graficarEstacionClaveResponse" message="tns:graficarEstacionClaveResponse"/>
</operation>
<operation name="insertarEstacionClave">
<input wsam:Action="http://servicio/administrarEstacionClave/insertarEstacionClaveRequest" message="tns:insertarEstacionClave"/>
<output wsam:Action="http://servicio/administrarEstacionClave/insertarEstacionClaveResponse" message="tns:insertarEstacionClaveResponse"/>
</operation>
</portType>
<binding name="administrarEstacionClavePortBinding" type="tns:administrarEstacionClave">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="graficarEstacionClave">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertarEstacionClave">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="administrarEstacionClave">
<port name="administrarEstacionClavePort" binding="tns:administrarEstacionClavePortBinding">
<soap:address location="http://192.168.0.116:8080/Servidor/administrarEstacionClave"/>
</port>
</service>
</definitions>