proyecto1s22015_201212840/web/WEB-INF/wsdl/192.168.0.116_8080/Servidor/administradorService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicio/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicio/" name="administradorService">
<types>
<xsd:schema>
<xsd:import namespace="http://servicio/" schemaLocation="http://192.168.0.116:8080/Servidor/administradorService?xsd=1"/>
</xsd:schema>
</types>
<message name="ingreso">
<part name="parameters" element="tns:ingreso"/>
</message>
<message name="ingresoResponse">
<part name="parameters" element="tns:ingresoResponse"/>
</message>
<message name="eliminar">
<part name="parameters" element="tns:eliminar"/>
</message>
<message name="eliminarResponse">
<part name="parameters" element="tns:eliminarResponse"/>
</message>
<message name="graficar">
<part name="parameters" element="tns:graficar"/>
</message>
<message name="graficarResponse">
<part name="parameters" element="tns:graficarResponse"/>
</message>
<message name="insertar">
<part name="parameters" element="tns:insertar"/>
</message>
<message name="insertarResponse">
<part name="parameters" element="tns:insertarResponse"/>
</message>
<portType name="administrador">
<operation name="ingreso">
<input wsam:Action="http://servicio/administrador/ingresoRequest" message="tns:ingreso"/>
<output wsam:Action="http://servicio/administrador/ingresoResponse" message="tns:ingresoResponse"/>
</operation>
<operation name="eliminar">
<input wsam:Action="http://servicio/administrador/eliminarRequest" message="tns:eliminar"/>
<output wsam:Action="http://servicio/administrador/eliminarResponse" message="tns:eliminarResponse"/>
</operation>
<operation name="graficar">
<input wsam:Action="http://servicio/administrador/graficarRequest" message="tns:graficar"/>
<output wsam:Action="http://servicio/administrador/graficarResponse" message="tns:graficarResponse"/>
</operation>
<operation name="insertar">
<input wsam:Action="http://servicio/administrador/insertarRequest" message="tns:insertar"/>
<output wsam:Action="http://servicio/administrador/insertarResponse" message="tns:insertarResponse"/>
</operation>
</portType>
<binding name="administradorPortBinding" type="tns:administrador">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="ingreso">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="graficar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="administradorService">
<port name="administradorPort" binding="tns:administradorPortBinding">
<soap:address location="http://192.168.0.116:8080/Servidor/administradorService"/>
</port>
</service>
</definitions>